<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    props: {
      realm: {
        type: String,
        default: ''
      }
    },
    computed: {
      realms () {
        return this.$store.getters['app/realms']
      },
      currentRealm () {
        return this.$store.getters['app/currentRealm']
      }
    },
    watch: {
      realms () {
        this.ensureCurrentRealm()
      }
    },
    methods: {
      ensureCurrentRealm () {
        if (!this.currentRealm) {
          const routeName = this.$route.name
          const vm = this
          let changingRealm = _.find(this.realms, (r) => {
            return r.alias === vm.realm
          })
          if (!changingRealm && this.realms.length > 0) {
            changingRealm = this.realms[0]
          }
          if (changingRealm) {
            this.$router.push({name: routeName, params: { realm: changingRealm.alias }})
            this.$store.dispatch('app/changeCurrentRealm', changingRealm)
          } else {
            this.$spaceship.navigate('alianco')
          }
        }
      }
    }
  }
</script>
