<template>
  <div>
    <app-loading-overlay
      v-show="false"
      :errors="errors"/>
    <app-navbar
      :current-realm="currentRealm"
      :profile="profile"
      :options="options"
      @action="action"/>
    <base-background
      v-show="sidebar"
      @close="sidebar = false"/>
    <app-realms-sidebar
      v-show="sidebar"
      :realms="realms"
      :current-realm="currentRealm"
      class="test-create-realm-sidebar"
      @select="changeCurrentRealm($event)"
      @create="goToAliancoCreate"
      @close="sidebar = false"/>
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  import AppNavbar from './components/AppNavbar'
  import AppRealmsSidebar from './components/AppRealmsSidebar'
  import AppLoadingOverlay from './components/AppLoadingOverlay'

  export default {
    components: {
      AppRealmsSidebar,
      AppNavbar,
      AppLoadingOverlay
    },
    data () {
      return {
        sidebar: false
      }
    },
    computed: {
      profile () {
        return this.$store.getters['app/profile']
      },
      realms () {
        return this.$store.getters['app/realms']
      },
      currentRealm () {
        return this.$store.getters['app/currentRealm']
      },
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      },
      isProfileComplete () {
        return this.$store.getters['app/isProfileComplete']
      },
      isSafelyReady () {
        return this.$store.getters['auth/isAuthenticated'] &&
          !this.$store.getters['auth/hasErrors'] &&
          this.$store.getters['app/isReady'] &&
          this.profile !== null
      },
      errors () {
        return this.$store.getters['auth/errors']
      },
      options () {
        return this.$store.getters['app/options']
      }
    },
    watch: {
      isProfileComplete (isComplete) {
        if (isComplete !== null && !isComplete) {
          this.$spaceship.navigate('animo')
        }
      },
      profile (newValue, oldValue) {
        this.bootIntercom(newValue)
      }
    },
    created () {
      this.configureToken()
      this.$store.dispatch('app/initialize')
    },
    methods: {
      action ($event) {
        if ($event.action === 'open' && $event.target === 'sidebar') {
          this.sidebar = true
        }
        if ($event.action === 'logout') {
          this.$store.dispatch('auth/logout')
        }
        if ($event.action === 'goToAnimo') {
          this.$spaceship.navigate('animo')
        }
        if ($event.action === 'goToUniverso') {
          this.$spaceship.navigate('universo')
        }
      },
      goToAliancoCreate () {
        this.sidebar = false
        this.$spaceship.navigate('alianco-create')
        // this.$spaceship.navigate('alianco')
      },
      bootIntercom (userProfile) {
        this.$intercom.boot({
          user_id: userProfile.id,
          name: userProfile.name,
          email: userProfile.email
        })
      },
      changeCurrentRealm ($event) {
        const routeName = this.$route.name
        this.$router.push({name: routeName, params: { realm: $event.alias }})
        this.$store.dispatch('app/changeCurrentRealm', $event)
        this.sidebar = false
      },
      configureToken () {
        const accessToken = this.$store.getters['auth/accessToken']
        const expiresAt = this.$store.getters['auth/expiresAt']
        const fromTimeToRemainingMilliseconds = (time) => {
          const now = new Date()
          const remainingTime = expiresAt - now.getTime()
          if (remainingTime < 0) {
            return 0
          } else {
            return remainingTime
          }
        }
        this.$http.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`
        setTimeout(() => {
          this.$store.dispatch('auth/refresh').then(() => {
            this.configureToken()
          })
        }, fromTimeToRemainingMilliseconds(expiresAt))
      }
    }
  }
</script>
