<template>
  <base-navbar>
    <template slot="left">
      <div
        style="display: flex;">
        <base-button
          v-show="options.navbar.realms.visible"
          class="is-primary test-sidebar-button"
          @click="action('open')">
          <span
            style="color:white;">
            <span class="icon is-medium">
              <i class="fas fa-th-large fa-2x"/>
            </span>
          </span>
        </base-button>
        <div
          style="padding-left:20px">
          <span
            class="is-uppercase is-size-4"
            style="font-weight:700;color:white;">
            {{ $t(routeName) }}
          </span>
          <br>
          <span
            v-show="options.navbar.realms.visible"
            class="is-uppercase is-size-6"
            style="font-weight:300;color:white;">
            {{ currentRealm ? currentRealm.name : '' }}
          </span>
        </div>
      </div>
    </template>
    <template slot="right">
      <div
        class="is-flex-desktop is-flex-tablet"
        style="align-items: center">
        <base-button
          class="is-rounded"
          @click="action('goToUniverso')">
          {{ $t('BASE.GO_TO_UNIVERSO') }}
        </base-button>
        <div style="padding: 10px">
          <a @click="action('goToAnimo')">
            <base-image
              :src="safeProfilePicture"
              class="is-64x64"/>
          </a>
        </div>
        <base-button
          class="is-rounded is-primary is-inverted is-outlined"
          @click="action('logout')">
          {{ $t('AUTH.LOGOUT') }}
        </base-button>
      </div>
    </template>
  </base-navbar>
</template>

<script>
  export default {
    props: {
      currentRealm: {
        type: Object,
        default () {
          return {}
        }
      },
      profile: {
        type: Object,
        default () {
          return {}
        }
      },
      options: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      return {
        isActive: true
      }
    },
    computed: {
      routeName () {
        return this.$route ? this.$route.name : ''
      },
      safeProfilePicture () {
        const profile = this.profile
        if (profile !== null) {
          if (profile.picture === '') {
            return `https://api.adorable.io/avatars/96/${profile.alias}@adorable.png`
          } else {
            return profile.picture
          }
        } else {
          return ''
        }
      }
    },
    methods: {
      action (action) {
        this.$emit('action', {
          action: action,
          target: 'sidebar'
        })
      }
    }
  }
</script>
