<template>
  <base-sidebar
    :items="realms"
    :id="currentRealm ? currentRealm.id : ''"
    :selected="currentRealm"
    @close="close"
    @select="select">
    <template
      slot="sidebar-item"
      slot-scope="item">
      <app-realms-sidebar-item
        :realm="item.data.data"
        class="test-create-realm-sidebar-item"/>
    </template>
    <template
      slot="sidebar-footer">
      <base-button
        class="test-create-realm-add-realm-sidebar-button is-text"
        @click="create">
        {{ $t('BASE.CREATE_ORGANIZATION') }}
      </base-button>
    </template>
  </base-sidebar>
</template>

<script>
  import AppRealmsSidebarItem from './AppRealmsSidebarItem.vue'

  export default {
    name: 'AppRealmsSidebar',
    components: {
      AppRealmsSidebarItem
    },
    props: {
      realms: {
        default () {
          return []
        },
        type: Array
      },
      currentRealm: {
        default () {
          return {}
        },
        type: Object
      }
    },
    methods: {
      select ($event) {
        this.$emit('select', $event)
      },
      close ($event) {
        this.$emit('close', $event)
      },
      create ($event) {
        this.$emit('create', $event)
      }
    }
  }
</script>

<style>

</style>
Message Input

Message #temp-revas-ui
